.nav__logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 48px;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.nav__logout-button_black-theme {
  color: #000;
}