.popup__button.popup__save-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: black;
    border-radius: 2px;
    border: 1px solid black;
    width: 358px;
    height: 50.15px;
    margin-top: 8px;
}

@media screen and (max-width: 520px) {
  .popup__button.popup__button_save {
    width: 100%;
    height: 50px;
  }
}