@import url('./__logo/nav__logo.css');
@import url('./__menu-items/nav__menu-items.css');
@import url('./__burger-button/nav__burger-button.css');
@import url('./__close-button/nav__close-button.css');
@import url('./__burger-button/nav__burger-button_none.css');
@import url('./__logout-container/nav__logout-container.css');

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  padding-right: 106px;
  padding-left: 102px;
}

.nav_black-theme {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.6)
}

@media screen and (max-width: 940px) {
  .nav {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 640px) {
  .nav {
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    z-index: 2;
  }
}