@import url('./__logo/nav__logo.css');
@import url('./__menu-items/nav__menu-items.css');

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}