@import url('./__menu-item/nav__menu-item.css');
@import url('./__menu-item/nav__menu-item_login.css');

.nav__menu-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .nav__menu-items {
    flex-direction: column;
    display: none;
  }
}