.container {
  width: 86%;
  margin-right: 106px;
  margin-left: 102px;
}

@media screen and (max-width: 940px) {
  .container {
    margin-right: 60px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    margin-right: 12px;
    margin-left: 12px;
  }
}