.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

@media screen and (max-width: 750px) {
  .footer__container {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media screen and (max-width: 520px) {
  .footer__container {
    height: auto;
  }
}