.nav__login-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 48px;
  border: solid #fff 1px;
  padding: 0 17px;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  outline: none;
}