.nav__logo {
  font-family: Robotoslab;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
}

.nav__logo_black-theme {
  color: #1A1B22;
}

@media screen and (max-width: 640px) {
  .nav__logo {
    margin-top: 0;
  }
}