.article__delete-msg {
  position: absolute;
  top: 24px;
  right: 70px;
  padding: 14px 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  display: none;
}

@media screen and (max-width: 1280px) {
  .article__delete-msg {
    width: 80px;
    padding: 8px 0;
  }
}

@media screen and (max-width: 1024px) {
  .article__delete-msg {
    right: 60px;
    top: 8px;

  }
}

@media screen and (max-width: 870px) {
  .article__delete-msg {
    display: none;
  }
}