.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  transition: ease-out .3s;
}

.nav__link:hover {
  opacity: 0.6;
  padding: 24px 0;
  transition: ease-in .3s;
}

.nav__link_active {
  border-bottom: solid #fff 3px;
  padding: 24px 0;
  color: #FFF;
}

.nav__link_active_black-theme {
  border-bottom: solid #000 3px;
  padding: 24px 0;
}

.nav__link_black-theme {
  color: #000;
}

@media screen and (max-width: 640px) {
  .nav__link_active {
    border: none;
  }
  .nav__link_active_black-theme {
    border: none
  }
}