.article__message {
  padding: 14px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #000000;
  background-color: #fff;
  border-radius: 10px;
}