@import url('./nav/nav.css');
@import url('./search/search.css');

.header {
  display: flex;
  height: auto;
}

.header__bg-img {
  background: url('../../img/georgia-de-lotz--UsJoNxLaNo-unsplash.png') center no-repeat;
  background-size: cover;
}

.header_black-theme {
  box-shadow: inset 0px -1px 0px #D1D2D6;
}


@media screen and (max-width: 940px) {
  .search {
    width: 70%;
    margin: 36px auto 0;
  }
}