@import url('./nav/nav.css');
@import url('./search/search.css');

.header {
  display: flex;
  height: 576px;
}

.header__bg-img {
  background-image: url('../../img/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
}