.article__content-name {
  position: absolute;
  left: 24px;
  top: 24px;
  height: 39px;
  line-height: 39px;
  padding: 0 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000000;
  background-color: #fff;
  border-radius: 10px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .article__content-name {
    left: 8px;
    top: 8px;
    padding: 0 8px;
  }
}